
<div class="jumbotron">
    <h1 class= "display-3> {{title}}</h1>
    <p class ="lead">jot down ideas so you don't become Logan Paul<p>
        <a href= "ideas/add" class btn btn-dark btn-lg>Add video idea</a>
</div>